NET "reset" LOC = T1;
NET "CLK_From_Key" LOC = T3;
NET "CLK11M0592" LOC = U25;
NET "CLK50M" LOC = U26;
NET "BaseRamAddr[0]" LOC = Y26;
NET "BaseRamAddr[1]" LOC = W25;
NET "BaseRamAddr[2]" LOC = W26;
NET "BaseRamAddr[3]" LOC = V24;
NET "BaseRamAddr[4]" LOC = V26;
NET "BaseRamAddr[5]" LOC = AC14;
NET "BaseRamAddr[6]" LOC = AD15;
NET "BaseRamAddr[7]" LOC = AC15;
NET "BaseRamAddr[8]" LOC = AC16;
NET "BaseRamAddr[9]" LOC = AC19;
NET "BaseRamAddr[10]" LOC = AD20;
NET "BaseRamAddr[11]" LOC = AC20;
NET "BaseRamAddr[12]" LOC = AD21;
NET "BaseRamAddr[13]" LOC = AB22;
NET "BaseRamAddr[14]" LOC = AD22;
NET "BaseRamAddr[15]" LOC = AA23;
NET "BaseRamAddr[16]" LOC = AC23;
NET "BaseRamAddr[17]" LOC = V23;
NET "BaseRamAddr[18]" LOC = W22;
NET "BaseRamAddr[19]" LOC = W24;
NET "BaseRamData[0]" LOC = AC24;
NET "BaseRamData[1]" LOC = AD24;
NET "BaseRamData[2]" LOC = AC26;
NET "BaseRamData[3]" LOC = AB26;
NET "BaseRamData[4]" LOC = Y24;
NET "BaseRamData[5]" LOC = AA24;
NET "BaseRamData[6]" LOC = Y22;
NET "BaseRamData[7]" LOC = AB24;
NET "BaseRamData[8]" LOC = AD19;
NET "BaseRamData[9]" LOC = AB18;
NET "BaseRamData[10]" LOC = AD18;
NET "BaseRamData[11]" LOC = AC17;
NET "BaseRamData[12]" LOC = AB17;
NET "BaseRamData[13]" LOC = AF21;
NET "BaseRamData[14]" LOC = AE21;
NET "BaseRamData[15]" LOC = AF20;
NET "BaseRamData[16]" LOC = AE23;
NET "BaseRamData[17]" LOC = AF24;
NET "BaseRamData[18]" LOC = AE24;
NET "BaseRamData[19]" LOC = AF25;
NET "BaseRamData[20]" LOC = AE25;
NET "BaseRamData[21]" LOC = AE26;
NET "BaseRamData[22]" LOC = AD26;
NET "BaseRamData[23]" LOC = AC25;
NET "BaseRamData[24]" LOC = AF19;
NET "BaseRamData[25]" LOC = AE19;
NET "BaseRamData[26]" LOC = AF18;
NET "BaseRamData[27]" LOC = AF17;
NET "BaseRamData[28]" LOC = AE17;
NET "BaseRamData[29]" LOC = AF16;
NET "BaseRamData[30]" LOC = AF15;
NET "BaseRamData[31]" LOC = AE15;
NET "BaseRamCE" LOC = AA26;
NET "BaseRamOE" LOC = AD17;
NET "BaseRamWE" LOC = AA25;
NET "DYP0[3]" LOC = A25;
NET "DYP0[4]" LOC = B24;
NET "DYP0[5]" LOC = C26;
NET "DYP0[0]" LOC = B26;
NET "DYP0[1]" LOC = C25;
NET "DYP0[2]" LOC = D24;
NET "DYP0[6]" LOC = D26;
NET "DYP1[3]" LOC = B23;
NET "DYP1[4]" LOC = A23;
NET "DYP1[5]" LOC = D23;
NET "DYP1[0]" LOC = C24;
NET "DYP1[1]" LOC = D22;
NET "DYP1[2]" LOC = E23;
NET "DYP1[6]" LOC = B25;
NET "ExtRamAddr[0]" LOC = AD4;
NET "ExtRamAddr[1]" LOC = AD3;
NET "ExtRamAddr[2]" LOC = AD6;
NET "ExtRamAddr[3]" LOC = AC5;
NET "ExtRamAddr[4]" LOC = AD5;
NET "ExtRamAddr[5]" LOC = AD14;
NET "ExtRamAddr[6]" LOC = AC13;
NET "ExtRamAddr[7]" LOC = AB10;
NET "ExtRamAddr[8]" LOC = AD10;
NET "ExtRamAddr[9]" LOC = AD9;
NET "ExtRamAddr[10]" LOC = AC9;
NET "ExtRamAddr[11]" LOC = AD8;
NET "ExtRamAddr[12]" LOC = AB8;
NET "ExtRamAddr[13]" LOC = AD7;
NET "ExtRamAddr[14]" LOC = AC7;
NET "ExtRamAddr[15]" LOC = AA4;
NET "ExtRamAddr[16]" LOC = AB3;
NET "ExtRamAddr[17]" LOC = AB4;
NET "ExtRamAddr[18]" LOC = AB5;
NET "ExtRamAddr[19]" LOC = AB6;
NET "ExtRamData[0]" LOC = AF2;
NET "ExtRamData[1]" LOC = AE3;
NET "ExtRamData[2]" LOC = AE4;
NET "ExtRamData[3]" LOC = AF4;
NET "ExtRamData[4]" LOC = AE5;
NET "ExtRamData[5]" LOC = AF5;
NET "ExtRamData[6]" LOC = AF6;
NET "ExtRamData[7]" LOC = AE7;
NET "ExtRamData[8]" LOC = AE13;
NET "ExtRamData[9]" LOC = AF13;
NET "ExtRamData[10]" LOC = AD11;
NET "ExtRamData[11]" LOC = AC11;
NET "ExtRamData[12]" LOC = AD12;
NET "ExtRamData[13]" LOC = AC12;
NET "ExtRamData[14]" LOC = AD13;
NET "ExtRamData[15]" LOC = AF14;
NET "ExtRamData[16]" LOC = AE2;
NET "ExtRamData[17]" LOC = AE1;
NET "ExtRamData[18]" LOC = AD1;
NET "ExtRamData[19]" LOC = AC1;
NET "ExtRamData[20]" LOC = AC2;
NET "ExtRamData[21]" LOC = AB1;
NET "ExtRamData[22]" LOC = AA2;
NET "ExtRamData[23]" LOC = AA1;
NET "ExtRamData[24]" LOC = AF7;
NET "ExtRamData[25]" LOC = AF8;
NET "ExtRamData[26]" LOC = AE9;
NET "ExtRamData[27]" LOC = AF9;
NET "ExtRamData[28]" LOC = AF10;
NET "ExtRamData[29]" LOC = AE11;
NET "ExtRamData[30]" LOC = AF11;
NET "ExtRamData[31]" LOC = AF12;
NET "ExtRamCE" LOC = AC3;
NET "ExtRamOE" LOC = AB9;
NET "ExtRamWE" LOC = AC4;
#NET "FlashAddr[0]" LOC = G3;
#NET "FlashAddr[1]" LOC = C8;
#NET "FlashAddr[2]" LOC = D8;
#NET "FlashAddr[3]" LOC = D7;
#NET "FlashAddr[4]" LOC = E8;
#NET "FlashAddr[5]" LOC = A7;
#NET "FlashAddr[6]" LOC = C7;
#NET "FlashAddr[7]" LOC = C6;
#NET "FlashAddr[8]" LOC = D6;
#NET "FlashAddr[9]" LOC = A6;
#NET "FlashAddr[10]" LOC = B6;
#NET "FlashAddr[11]" LOC = C5;
#NET "FlashAddr[12]" LOC = E5;
#NET "FlashAddr[13]" LOC = B4;
#NET "FlashAddr[14]" LOC = A4;
#NET "FlashAddr[15]" LOC = C4;
#NET "FlashAddr[16]" LOC = C3;
#NET "FlashAddr[17]" LOC = B2;
#NET "FlashAddr[18]" LOC = A2;
#NET "FlashAddr[19]" LOC = C2;
#NET "FlashAddr[20]" LOC = F5;
#NET "FlashAddr[21]" LOC = D3;
#NET "FlashAddr[22]" LOC = G5;
#NET "FlashData[0]" LOC = G4;
#NET "FlashData[1]" LOC = J3;
#NET "FlashData[2]" LOC = K3;
#NET "FlashData[3]" LOC = K5;
#NET "FlashData[4]" LOC = C1;
#NET "FlashData[5]" LOC = E2;
#NET "FlashData[6]" LOC = F1;
#NET "FlashData[7]" LOC = G1;
#NET "FlashData[8]" LOC = H3;
#NET "FlashData[9]" LOC = J4;
#NET "FlashData[10]" LOC = H5;
#NET "FlashData[11]" LOC = B1;
#NET "FlashData[12]" LOC = D1;
#NET "FlashData[13]" LOC = E1;
#NET "FlashData[14]" LOC = G2;
#NET "FlashData[15]" LOC = H1;
#NET "FLASH_BYTE" LOC = F3;
#NET "FLASH_CE" LOC = E6;
#NET "FLASH_CE1" LOC = E4;
#NET "FLASH_CE2" LOC = E3;
#NET "FLASH_OE" LOC = J1;
#NET "FLASH_RP" LOC = A5;
#NET "FLASH_STS" LOC = J2;
#NET "FLASH_VPEN" LOC = D5;
#NET "FLASH_WE" LOC = K1;
#NET "FPGA_KEY[0]" LOC = Y1;
NET "FPGA_KEY[1]" LOC = Y3;
NET "FPGA_KEY[2]" LOC = AA3;
NET "FPGA_KEY[3]" LOC = AA5;

# led is correct now
NET "LED[15]" LOC = F26;
NET "LED[14]" LOC = G26;
NET "LED[13]" LOC = G25;
NET "LED[12]" LOC = H26;
NET "LED[11]" LOC = J26;
NET "LED[10]" LOC = J25;
NET "LED[9]" LOC = G23;
NET "LED[8]" LOC = J24;
NET "LED[7]" LOC = L24;
NET "LED[6]" LOC = K24;
NET "LED[5]" LOC = M23;
NET "LED[4]" LOC = K26;
NET "LED[3]" LOC = L26;
NET "LED[2]" LOC = L25;
NET "LED[1]" LOC = M26;
NET "LED[0]" LOC = N26;
NET "InterConn[0]" LOC = P24;
NET "InterConn[1]" LOC = R26;
NET "InterConn[2]" LOC = R24;
NET "InterConn[3]" LOC = R25;
NET "InterConn[4]" LOC = R23;
NET "InterConn[5]" LOC = T26;
NET "InterConn[6]" LOC = T24;
NET "InterConn[7]" LOC = T23;
NET "InterConn[8]" LOC = U24;
NET "InterConn[9]" LOC = U23;
NET "SW_DIP[0]" LOC = Y5;
NET "SW_DIP[1]" LOC = W1;
NET "SW_DIP[2]" LOC = W2;
NET "SW_DIP[3]" LOC = V1;
NET "SW_DIP[4]" LOC = U1;
NET "SW_DIP[5]" LOC = U2;
NET "SW_DIP[6]" LOC = R1;
NET "SW_DIP[7]" LOC = R2;
NET "SW_DIP[8]" LOC = P1;
NET "SW_DIP[9]" LOC = N1;
NET "SW_DIP[10]" LOC = N2;
NET "SW_DIP[11]" LOC = M1;
NET "SW_DIP[12]" LOC = L1;
NET "SW_DIP[13]" LOC = L2;
NET "SW_DIP[14]" LOC = W5;
NET "SW_DIP[15]" LOC = W3;
NET "SW_DIP[16]" LOC = V4;
NET "SW_DIP[17]" LOC = V3;
NET "SW_DIP[18]" LOC = U4;
NET "SW_DIP[19]" LOC = U3;
NET "SW_DIP[20]" LOC = T4;
NET "SW_DIP[21]" LOC = R4;
NET "SW_DIP[22]" LOC = R3;
NET "SW_DIP[23]" LOC = P5;
NET "SW_DIP[24]" LOC = P3;
NET "SW_DIP[25]" LOC = N4;
NET "SW_DIP[26]" LOC = N3;
NET "SW_DIP[27]" LOC = N5;
NET "SW_DIP[28]" LOC = M4;
NET "SW_DIP[29]" LOC = M3;
NET "SW_DIP[30]" LOC = L4;
NET "SW_DIP[31]" LOC = L3;
NET "VGA_Blue[0]" LOC = H24;
NET "VGA_Blue[1]" LOC = G24;
NET "VGA_Blue[2]" LOC = F24;
NET "VGA_Green[0]" LOC = E24;
NET "VGA_Green[1]" LOC = E25;
NET "VGA_Green[2]" LOC = E26;
NET "VGA_Red[0]" LOC = M24;
NET "VGA_Red[1]" LOC = N25;
NET "VGA_Red[2]" LOC = N24;
NET "VGA_Vhync" LOC = J23;
NET "VGA_Hhync" LOC = L23;
