

NET "rst" LOC = T1;

# PlanAhead Generated physical constraints 

NET "inter_conn_in[2]" LOC = R24;
NET "inter_conn_in[4]" LOC = R23;
NET "inter_conn_in[3]" LOC = R25;
NET "inter_conn_in[1]" LOC = R26;
NET "inter_conn_in[0]" LOC = P24;
NET "inter_conn_out[4]" LOC = U23;
NET "inter_conn_out[3]" LOC = U24;
NET "inter_conn_out[2]" LOC = T23;
NET "inter_conn_out[1]" LOC = T24;
NET "inter_conn_out[0]" LOC = T26;
NET "clk110592" LOC = U25;
#NET "base_ram_addr[0]" LOC = AD4;
#NET "base_ram_addr[1]" LOC = AD3;
#NET "base_ram_addr[2]" LOC = AD6;
#NET "base_ram_addr[3]" LOC = AC5;
#NET "base_ram_addr[4]" LOC = AD5;
#NET "base_ram_addr[5]" LOC = AD14;
#NET "base_ram_addr[6]" LOC = AC13;
#NET "base_ram_addr[7]" LOC = AB10;
#NET "base_ram_addr[8]" LOC = AD10;
#NET "base_ram_addr[9]" LOC = AD9;
#NET "base_ram_addr[10]" LOC =    AC9;
#NET "base_ram_addr[11]" LOC =    AD8;
#NET "base_ram_addr[12]" LOC =    AB8;
#NET "base_ram_addr[13]" LOC =    AD7;
#NET "base_ram_addr[14]" LOC =    AC7;
#NET "base_ram_addr[15]" LOC =    AA4;
#NET "base_ram_addr[16]" LOC =    AB3;
#NET "base_ram_addr[17]" LOC =    AB4;
#NET "base_ram_addr[18]" LOC =    AB5;
#NET "base_ram_addr[19]" LOC =    AB6;
#NET "base_ram_data[0]" LOC =AF2;
#NET "base_ram_data[1]" LOC =AE3;
#NET "base_ram_data[2]" LOC =AE4;
#NET "base_ram_data[3]" LOC =AF4;
#NET "base_ram_data[4]" LOC =AE5;
#NET "base_ram_data[5]" LOC =AF5;
#NET "base_ram_data[6]" LOC =AF6;
#NET "base_ram_data[7]" LOC =AE7;
#NET "base_ram_data[8]" LOC =AE13;
#NET "base_ram_data[9]" LOC =AF13;
#NET "base_ram_data[10]" LOC =   AD11;
#NET "base_ram_data[11]" LOC =   AC11;
#NET "base_ram_data[12]" LOC =   AD12;
#NET "base_ram_data[13]" LOC =   AC12;
#NET "base_ram_data[14]" LOC =   AD13;
#NET "base_ram_data[15]" LOC =   AF14;
#NET "base_ram_data[16]" LOC =   AE2;
#NET "base_ram_data[17]" LOC =   AE1;
#NET "base_ram_data[18]" LOC =   AD1;
#NET "base_ram_data[19]" LOC =   AC1;
#NET "base_ram_data[20]" LOC =   AC2;
#NET "base_ram_data[21]" LOC =   AB1;
#NET "base_ram_data[22]" LOC =   AA2;
#NET "base_ram_data[23]" LOC =   AA1;
#NET "base_ram_data[24]" LOC =   AF7;
#NET "base_ram_data[25]" LOC =   AF8;
#NET "base_ram_data[26]" LOC =   AE9;
#NET "base_ram_data[27]" LOC =   AF9;
#NET "base_ram_data[28]" LOC =   AF10;
#NET "base_ram_data[29]" LOC =   AE11;
#NET "base_ram_data[30]" LOC =   AF11;
#NET "base_ram_data[31]" LOC =   AF12;
#NET "base_ram_CE" LOC = AC3;
#NET "base_ram_OE" LOC = AB9;
#NET "base_ram_WE" LOC = AC4;
NET "base_ram_addr[19]" LOC = W24;
NET "base_ram_addr[18]" LOC = W22;
NET "base_ram_addr[17]" LOC = V23;
NET "base_ram_addr[16]" LOC = AC23;
NET "base_ram_addr[15]" LOC = AA23;
NET "base_ram_addr[14]" LOC = AD22;
NET "base_ram_addr[13]" LOC = AB22;
NET "base_ram_addr[12]" LOC = AD21;
NET "base_ram_addr[11]" LOC = AC20;
NET "base_ram_addr[10]" LOC = AD20;
NET "base_ram_addr[9]" LOC = AC19;
NET "base_ram_addr[8]" LOC = AC16;
NET "base_ram_addr[7]" LOC = AC15;
NET "base_ram_addr[6]" LOC = AD15;
NET "base_ram_addr[5]" LOC = AC14;
NET "base_ram_addr[4]" LOC = V26;
NET "base_ram_addr[3]" LOC = V24;
NET "base_ram_addr[2]" LOC = W26;
NET "base_ram_addr[1]" LOC = W25;
NET "base_ram_addr[0]" LOC = Y26;
NET "base_ram_data[31]" LOC = AE15;
NET "base_ram_data[30]" LOC = AF15;
NET "base_ram_data[29]" LOC = AF16;
NET "base_ram_data[28]" LOC = AE17;
NET "base_ram_data[27]" LOC = AF17;
NET "base_ram_data[26]" LOC = AF18;
NET "base_ram_data[25]" LOC = AE19;
NET "base_ram_data[24]" LOC = AF19;
NET "base_ram_data[23]" LOC = AC25;
NET "base_ram_data[22]" LOC = AD26;
NET "base_ram_data[21]" LOC = AE26;
NET "base_ram_data[20]" LOC = AE25;
NET "base_ram_data[19]" LOC = AF25;
NET "base_ram_data[18]" LOC = AE24;
NET "base_ram_data[17]" LOC = AF24;
NET "base_ram_data[16]" LOC = AE23;
NET "base_ram_data[15]" LOC = AF20;
NET "base_ram_data[14]" LOC = AE21;
NET "base_ram_data[13]" LOC = AF21;
NET "base_ram_data[12]" LOC = AB17;
NET "base_ram_data[11]" LOC = AC17;
NET "base_ram_data[10]" LOC = AD18;
NET "base_ram_data[9]" LOC = AB18;
NET "base_ram_data[8]" LOC = AD19;
NET "base_ram_data[7]" LOC = AB24;
NET "base_ram_data[6]" LOC = Y22;
NET "base_ram_data[5]" LOC = AA24;
NET "base_ram_data[4]" LOC = Y24;
NET "base_ram_data[3]" LOC = AB26;
NET "base_ram_data[2]" LOC = AC26;
NET "base_ram_data[1]" LOC = AD24;
NET "base_ram_data[0]" LOC = AC24;
NET "base_ram_CE" LOC = AA26;
NET "base_ram_OE" LOC = AD17;
NET "base_ram_WE" LOC = AA25;
NET "led[7]" LOC = J24;
NET "led[6]" LOC = G23;
NET "led[5]" LOC = J25;
NET "led[4]" LOC = J26;
NET "led[3]" LOC = H26;
NET "led[2]" LOC = G25;
NET "led[1]" LOC = G26;
NET "led[0]" LOC = F26;
