//! **************************************************************************
// Written by: Map P.68d on Fri Jul 11 16:45:39 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CLK11M0592" LOCATE = SITE "U25" LEVEL 1;
COMP "CLK_From_Key" LOCATE = SITE "T3" LEVEL 1;
COMP "VGA_Hhync" LOCATE = SITE "L23" LEVEL 1;
COMP "VGA_Vhync" LOCATE = SITE "J23" LEVEL 1;
COMP "VGA_Red<0>" LOCATE = SITE "M24" LEVEL 1;
COMP "VGA_Red<1>" LOCATE = SITE "N25" LEVEL 1;
COMP "VGA_Red<2>" LOCATE = SITE "N24" LEVEL 1;
COMP "BaseRamCE" LOCATE = SITE "AA26" LEVEL 1;
COMP "InterConn<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "InterConn<5>" LOCATE = SITE "T26" LEVEL 1;
COMP "BaseRamOE" LOCATE = SITE "AD17" LEVEL 1;
COMP "BaseRamWE" LOCATE = SITE "AA25" LEVEL 1;
COMP "SW_DIP<0>" LOCATE = SITE "Y5" LEVEL 1;
COMP "SW_DIP<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "SW_DIP<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "SW_DIP<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "SW_DIP<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW_DIP<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "SW_DIP<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "SW_DIP<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "SW_DIP<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "SW_DIP<9>" LOCATE = SITE "N1" LEVEL 1;
COMP "ExtRamCE" LOCATE = SITE "AC3" LEVEL 1;
COMP "ExtRamOE" LOCATE = SITE "AB9" LEVEL 1;
COMP "ExtRamWE" LOCATE = SITE "AC4" LEVEL 1;
COMP "reset" LOCATE = SITE "T1" LEVEL 1;
COMP "VGA_Blue<0>" LOCATE = SITE "H24" LEVEL 1;
COMP "VGA_Blue<1>" LOCATE = SITE "G24" LEVEL 1;
COMP "VGA_Blue<2>" LOCATE = SITE "F24" LEVEL 1;
COMP "BaseRamAddr<10>" LOCATE = SITE "AD20" LEVEL 1;
COMP "BaseRamAddr<11>" LOCATE = SITE "AC20" LEVEL 1;
COMP "BaseRamAddr<12>" LOCATE = SITE "AD21" LEVEL 1;
COMP "BaseRamAddr<13>" LOCATE = SITE "AB22" LEVEL 1;
COMP "BaseRamAddr<14>" LOCATE = SITE "AD22" LEVEL 1;
COMP "BaseRamAddr<15>" LOCATE = SITE "AA23" LEVEL 1;
COMP "BaseRamAddr<16>" LOCATE = SITE "AC23" LEVEL 1;
COMP "BaseRamAddr<17>" LOCATE = SITE "V23" LEVEL 1;
COMP "BaseRamAddr<18>" LOCATE = SITE "W22" LEVEL 1;
COMP "BaseRamAddr<19>" LOCATE = SITE "W24" LEVEL 1;
COMP "CLK50M" LOCATE = SITE "U26" LEVEL 1;
COMP "ENET_D<10>" LOCATE = SITE "C12" LEVEL 1;
COMP "ENET_D<11>" LOCATE = SITE "A11" LEVEL 1;
COMP "ENET_D<12>" LOCATE = SITE "C11" LEVEL 1;
COMP "ENET_D<13>" LOCATE = SITE "D11" LEVEL 1;
COMP "ENET_D<14>" LOCATE = SITE "A10" LEVEL 1;
COMP "ENET_D<15>" LOCATE = SITE "B10" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "N26" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M26" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L25" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L26" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "K26" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "M23" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "K24" LEVEL 1;
COMP "BaseRamData<10>" LOCATE = SITE "AD18" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "L24" LEVEL 1;
COMP "BaseRamData<11>" LOCATE = SITE "AC17" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "J24" LEVEL 1;
COMP "BaseRamData<12>" LOCATE = SITE "AB17" LEVEL 1;
COMP "BaseRamData<20>" LOCATE = SITE "AE25" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "G23" LEVEL 1;
COMP "BaseRamData<13>" LOCATE = SITE "AF21" LEVEL 1;
COMP "BaseRamData<21>" LOCATE = SITE "AE26" LEVEL 1;
COMP "BaseRamData<14>" LOCATE = SITE "AE21" LEVEL 1;
COMP "BaseRamData<22>" LOCATE = SITE "AD26" LEVEL 1;
COMP "BaseRamData<30>" LOCATE = SITE "AF15" LEVEL 1;
COMP "BaseRamData<15>" LOCATE = SITE "AF20" LEVEL 1;
COMP "BaseRamData<23>" LOCATE = SITE "AC25" LEVEL 1;
COMP "BaseRamData<31>" LOCATE = SITE "AE15" LEVEL 1;
COMP "BaseRamData<16>" LOCATE = SITE "AE23" LEVEL 1;
COMP "BaseRamData<24>" LOCATE = SITE "AF19" LEVEL 1;
COMP "BaseRamData<17>" LOCATE = SITE "AF24" LEVEL 1;
COMP "BaseRamData<25>" LOCATE = SITE "AE19" LEVEL 1;
COMP "BaseRamData<18>" LOCATE = SITE "AE24" LEVEL 1;
COMP "BaseRamData<26>" LOCATE = SITE "AF18" LEVEL 1;
COMP "BaseRamData<19>" LOCATE = SITE "AF25" LEVEL 1;
COMP "BaseRamData<27>" LOCATE = SITE "AF17" LEVEL 1;
COMP "BaseRamData<28>" LOCATE = SITE "AE17" LEVEL 1;
COMP "BaseRamData<29>" LOCATE = SITE "AF16" LEVEL 1;
COMP "ENET_RESET" LOCATE = SITE "A14" LEVEL 1;
COMP "ExtRamAddr<10>" LOCATE = SITE "AC9" LEVEL 1;
COMP "ExtRamAddr<11>" LOCATE = SITE "AD8" LEVEL 1;
COMP "ExtRamAddr<12>" LOCATE = SITE "AB8" LEVEL 1;
COMP "ExtRamAddr<13>" LOCATE = SITE "AD7" LEVEL 1;
COMP "ExtRamAddr<14>" LOCATE = SITE "AC7" LEVEL 1;
COMP "ExtRamAddr<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "ExtRamAddr<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "ExtRamAddr<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "ExtRamAddr<18>" LOCATE = SITE "AB5" LEVEL 1;
COMP "ExtRamAddr<19>" LOCATE = SITE "AB6" LEVEL 1;
COMP "SW_DIP<10>" LOCATE = SITE "N2" LEVEL 1;
COMP "SW_DIP<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "SW_DIP<12>" LOCATE = SITE "L1" LEVEL 1;
COMP "SW_DIP<20>" LOCATE = SITE "T4" LEVEL 1;
COMP "SW_DIP<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "SW_DIP<21>" LOCATE = SITE "R4" LEVEL 1;
COMP "SW_DIP<14>" LOCATE = SITE "W5" LEVEL 1;
COMP "SW_DIP<22>" LOCATE = SITE "R3" LEVEL 1;
COMP "SW_DIP<30>" LOCATE = SITE "L4" LEVEL 1;
COMP "SW_DIP<15>" LOCATE = SITE "W3" LEVEL 1;
COMP "SW_DIP<23>" LOCATE = SITE "P5" LEVEL 1;
COMP "SW_DIP<31>" LOCATE = SITE "L3" LEVEL 1;
COMP "SW_DIP<16>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW_DIP<24>" LOCATE = SITE "P3" LEVEL 1;
COMP "SW_DIP<17>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW_DIP<25>" LOCATE = SITE "N4" LEVEL 1;
COMP "SW_DIP<18>" LOCATE = SITE "U4" LEVEL 1;
COMP "SW_DIP<26>" LOCATE = SITE "N3" LEVEL 1;
COMP "SW_DIP<19>" LOCATE = SITE "U3" LEVEL 1;
COMP "SW_DIP<27>" LOCATE = SITE "N5" LEVEL 1;
COMP "SW_DIP<28>" LOCATE = SITE "M4" LEVEL 1;
COMP "SW_DIP<29>" LOCATE = SITE "M3" LEVEL 1;
COMP "ExtRamData<10>" LOCATE = SITE "AD11" LEVEL 1;
COMP "ExtRamData<11>" LOCATE = SITE "AC11" LEVEL 1;
COMP "ExtRamData<12>" LOCATE = SITE "AD12" LEVEL 1;
COMP "ExtRamData<20>" LOCATE = SITE "AC2" LEVEL 1;
COMP "ExtRamData<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "ExtRamData<21>" LOCATE = SITE "AB1" LEVEL 1;
COMP "ExtRamData<14>" LOCATE = SITE "AD13" LEVEL 1;
COMP "ExtRamData<22>" LOCATE = SITE "AA2" LEVEL 1;
COMP "ExtRamData<30>" LOCATE = SITE "AF11" LEVEL 1;
COMP "ExtRamData<15>" LOCATE = SITE "AF14" LEVEL 1;
COMP "ExtRamData<23>" LOCATE = SITE "AA1" LEVEL 1;
COMP "ExtRamData<31>" LOCATE = SITE "AF12" LEVEL 1;
COMP "ExtRamData<16>" LOCATE = SITE "AE2" LEVEL 1;
COMP "ExtRamData<24>" LOCATE = SITE "AF7" LEVEL 1;
COMP "ExtRamData<17>" LOCATE = SITE "AE1" LEVEL 1;
COMP "ExtRamData<25>" LOCATE = SITE "AF8" LEVEL 1;
COMP "ExtRamData<18>" LOCATE = SITE "AD1" LEVEL 1;
COMP "ExtRamData<26>" LOCATE = SITE "AE9" LEVEL 1;
COMP "ExtRamData<19>" LOCATE = SITE "AC1" LEVEL 1;
COMP "ExtRamData<27>" LOCATE = SITE "AF9" LEVEL 1;
COMP "ExtRamData<28>" LOCATE = SITE "AF10" LEVEL 1;
COMP "ExtRamData<29>" LOCATE = SITE "AE11" LEVEL 1;
COMP "BaseRamAddr<0>" LOCATE = SITE "Y26" LEVEL 1;
COMP "BaseRamAddr<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "BaseRamAddr<2>" LOCATE = SITE "W26" LEVEL 1;
COMP "BaseRamAddr<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "BaseRamAddr<4>" LOCATE = SITE "V26" LEVEL 1;
COMP "BaseRamAddr<5>" LOCATE = SITE "AC14" LEVEL 1;
COMP "BaseRamAddr<6>" LOCATE = SITE "AD15" LEVEL 1;
COMP "BaseRamAddr<7>" LOCATE = SITE "AC15" LEVEL 1;
COMP "BaseRamAddr<8>" LOCATE = SITE "AC16" LEVEL 1;
COMP "BaseRamAddr<9>" LOCATE = SITE "AC19" LEVEL 1;
COMP "ENET_D<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "ENET_D<1>" LOCATE = SITE "D10" LEVEL 1;
COMP "ENET_D<2>" LOCATE = SITE "E9" LEVEL 1;
COMP "ENET_D<3>" LOCATE = SITE "E10" LEVEL 1;
COMP "ENET_D<4>" LOCATE = SITE "A9" LEVEL 1;
COMP "ENET_D<5>" LOCATE = SITE "C9" LEVEL 1;
COMP "ENET_D<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "ENET_D<7>" LOCATE = SITE "B8" LEVEL 1;
COMP "ENET_D<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "ENET_D<9>" LOCATE = SITE "D12" LEVEL 1;
COMP "BaseRamData<0>" LOCATE = SITE "AC24" LEVEL 1;
COMP "BaseRamData<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "BaseRamData<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "BaseRamData<3>" LOCATE = SITE "AB26" LEVEL 1;
COMP "BaseRamData<4>" LOCATE = SITE "Y24" LEVEL 1;
COMP "BaseRamData<5>" LOCATE = SITE "AA24" LEVEL 1;
COMP "BaseRamData<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "BaseRamData<7>" LOCATE = SITE "AB24" LEVEL 1;
COMP "BaseRamData<8>" LOCATE = SITE "AD19" LEVEL 1;
COMP "BaseRamData<9>" LOCATE = SITE "AB18" LEVEL 1;
COMP "ExtRamAddr<0>" LOCATE = SITE "AD4" LEVEL 1;
COMP "ExtRamAddr<1>" LOCATE = SITE "AD3" LEVEL 1;
COMP "ExtRamAddr<2>" LOCATE = SITE "AD6" LEVEL 1;
COMP "ExtRamAddr<3>" LOCATE = SITE "AC5" LEVEL 1;
COMP "ExtRamAddr<4>" LOCATE = SITE "AD5" LEVEL 1;
COMP "ExtRamAddr<5>" LOCATE = SITE "AD14" LEVEL 1;
COMP "ExtRamAddr<6>" LOCATE = SITE "AC13" LEVEL 1;
COMP "ExtRamAddr<7>" LOCATE = SITE "AB10" LEVEL 1;
COMP "ExtRamAddr<8>" LOCATE = SITE "AD10" LEVEL 1;
COMP "ExtRamAddr<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "ExtRamData<0>" LOCATE = SITE "AF2" LEVEL 1;
COMP "ExtRamData<1>" LOCATE = SITE "AE3" LEVEL 1;
COMP "ExtRamData<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "ExtRamData<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "ExtRamData<4>" LOCATE = SITE "AE5" LEVEL 1;
COMP "ExtRamData<5>" LOCATE = SITE "AF5" LEVEL 1;
COMP "ExtRamData<6>" LOCATE = SITE "AF6" LEVEL 1;
COMP "ExtRamData<7>" LOCATE = SITE "AE7" LEVEL 1;
COMP "ExtRamData<8>" LOCATE = SITE "AE13" LEVEL 1;
COMP "ExtRamData<9>" LOCATE = SITE "AF13" LEVEL 1;
COMP "ENET_25M" LOCATE = SITE "D14" LEVEL 1;
COMP "ENET_CMD" LOCATE = SITE "B12" LEVEL 1;
COMP "ENET_IOR" LOCATE = SITE "C13" LEVEL 1;
COMP "ENET_INT" LOCATE = SITE "D13" LEVEL 1;
COMP "ENET_IOW" LOCATE = SITE "A13" LEVEL 1;
COMP "VGA_Green<0>" LOCATE = SITE "E24" LEVEL 1;
COMP "VGA_Green<1>" LOCATE = SITE "E25" LEVEL 1;
COMP "VGA_Green<2>" LOCATE = SITE "E26" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "J25" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "J26" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "H26" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "G25" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "G26" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "F26" LEVEL 1;
COMP "DYP0<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "DYP0<1>" LOCATE = SITE "C25" LEVEL 1;
COMP "DYP0<2>" LOCATE = SITE "D24" LEVEL 1;
COMP "DYP0<3>" LOCATE = SITE "A25" LEVEL 1;
COMP "DYP1<0>" LOCATE = SITE "C24" LEVEL 1;
COMP "DYP0<4>" LOCATE = SITE "B24" LEVEL 1;
COMP "DYP1<1>" LOCATE = SITE "D22" LEVEL 1;
COMP "DYP0<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "DYP1<2>" LOCATE = SITE "E23" LEVEL 1;
COMP "DYP0<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "DYP1<3>" LOCATE = SITE "B23" LEVEL 1;
COMP "DYP1<4>" LOCATE = SITE "A23" LEVEL 1;
COMP "DYP1<5>" LOCATE = SITE "D23" LEVEL 1;
COMP "DYP1<6>" LOCATE = SITE "B25" LEVEL 1;
COMP "ENET_CS" LOCATE = SITE "B14" LEVEL 1;
COMP "FPGA_KEY<1>" LOCATE = SITE "Y3" LEVEL 1;
COMP "FPGA_KEY<2>" LOCATE = SITE "AA3" LEVEL 1;
COMP "FPGA_KEY<3>" LOCATE = SITE "AA5" LEVEL 1;
SCHEMATIC END;

